<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Chat Arquitectura</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="public/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="public/css/font-awesome.css">
	<!-- //online-fonts -->
</head>

<body>
	<!--header-->
	<div class="header-w3l">
		<h1>Chat arquitectura <span>V 1.0</span></h1>
	</div>
	<!--//header-->
	<div class="main-content-agile">
		<div class="sub-main-w3">
			<h2>Ingrese el nombre de usuario que desea utilizar</h2>
			<form action="index.php" method="get">
				<div class="pom-agile">
					<span class="fa fa-user-o" aria-hidden="true"></span>
					<input type="hidden" name="mode" value="cargar-chat"> 
					<input placeholder="Usuario" name="username" class="user" type="text" required="">
				</div>
				<div class="right-w3l">
					<input type="submit" value="Ingresar al chat">
				</div>
			</form>
		</div>
	</div>
	<!--//main-->
	<!--footer-->
	<!--//footer-->
</body>

</html>